ul.songs {
  list-style: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.btn {
  border: 0;
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  padding: 8px 8px;
}
